.calendar-screen{
  display: flex;
  flex-direction: column;

  > *{
    flex-shrink: 1;
  }
}

.calendar-screen__container{
  margin-top: 1em;
  height: 100%;
  display: flex;
  flex-shrink: 1;
  overflow: hidden;

  > *{
    height: 100%;
    width: 100%;
  }
}